services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5175:5175"
    volumes:
      - .:/app
      -  node_modules:/app/node_modules
      - "/mnt/c/Users/joshb/Documents/project-images/upload:/app/uploads:rw"
    environment:
      - NODE_ENV=development
      - REDIS_URL=redis://redis:6379 
      - UPLOAD_DIR=/app/uploads
      - GRPC_IMAGE_HOST=host.docker.internal
      - GRPC_IMAGE_PORT=9090
      - GRPC_TLS="0"
      - PROTO_PATH=/app/protos/image_service.proto
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - shared

  # redis:
  #   image: redis:8.0.2
  #   restart: always
  #   container_name: post_redis_dev
  #   ports:
  #     - "6379:6379"
  #   networks:
  #     - shared

  postgres:
    image: postgres:16
    restart: always
    ports:
      - '5433:5432'
    environment:
      PG_USER: postgres
      POSTGRES_PASSWORD: 4812
      POSTGRES_DB: mydb
      PG_PORT: 5432
    volumes:
      - pgdata_nectar:/var/lib/postgresql/data
      - ./nectar-docker-db/init.sql:/docker-entrypoint-initdb.d/init.sql
    entrypoint: ['/bin/sh', '-c', 'rm -rf /var/run/postgresql/* && docker-entrypoint.sh postgres']
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - shared

volumes:
  node_modules:
  pgdata_nectar:

networks:
  shared:
    external: true
